* {
  margin: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 40px;
  object-fit: contain;
}
.header__icon {
  padding: 20px;
}

/* TinderCard */
.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.Tindercards__cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}
.card h3 {
  position: absolute;
  bottom: 10px;
  color: #ffffff;
}
/* swipe button */
.swipe__buttons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.swipe__buttons .MuiIconButton-root {
  background-color: #ffffff;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
.swipeButton_replay {
  padding: 3vw !important;
  color: #f5b748 !important;
}
.swipeButton_close {
  padding: 3vw !important;
  color: #ec5e6f !important;
}
.swipeButton_star {
  padding: 3vw !important;
  color: #02b4f9 !important;
}
.swipeButton_Fav {
  padding: 3vw !important;
  color: #76e2b3 !important;
}
.swipeButton_flash {
  padding: 3vw !important;
  color: #915dd1 !important;
}
/* chat component */
.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
}
.chat__details {
  flex: 1;
}
.chat__details > p {
  color: gray;
}
.chat_img {
  margin-right: 20px;
}
.chat__timestamp {
  color: lightgray;
}
/* chatScreen */
.chatScreen__message {
  display: flex;
  padding: 20px;
  align-items: center;
}
.chatScreen__text {
  margin-left: 5px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}
.chatScreen__timestamp {
  text-align: center;
  padding: 20px;
  color: gray;
}
.chatScreen__textUser {
  margin-left: auto;
  background-color: #29b3cd;
  padding: 15px;
  border-radius: 20px;
  color: #ffffff;
}
/* chatScreen form */
.chatScreen__form > form{
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  border-top: 1px solid lightgray;
}

.chatScreen__inputField {
  padding: 10px;
  border: none;
  width: 80%;
}
.chatscreen__button {
  border: none;
  background-color: #ffffff;
  color: #ec5e6f;
  margin-right: 20px;
  font-weight: bolder;
  width: 20%;
}
